.Restaurant{
    font-size: 17px;
}

.Restaurant img{
    height: auto;
    width: 100%;
}

.Restaurant .info a{
    color: inherit;
    text-decoration: underline;
}

.Restaurant h4{
    font-weight: bold;
}

.Restaurant h4, .Restaurant p{
    margin: .5em 0;
}

@media (min-width: 500px){
    .Restaurant{
        flex-basis: 45%;
    }
}
@media (min-width: 768px){
    .Restaurant{
        flex-basis: 30%;
    }
}
@media (min-width: 1024px){
    .Restaurant{
        flex-basis: 22%;
    }
}
@media (min-width: 1280px){
    .Restaurant{
        flex-basis: 15%;
    }
}