.AppHeader h1{
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
}

.AppHeader p{
    margin: .5em 0;
}

.AppHeader .input{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: .5em;
    min-height: 35px;
}