@media(min-width: 500px){
    .RestaurantList{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    /* .RestaurantList:after {
        content: "";
        display: block;
        margin-left: 66%;
    } */
}